.main {
    margin:0px;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-img {
    background:url(../assets/images/home.avif)no-repeat center center fixed; 
    -webkit-background-size:cover;
    -o-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
}