<form
  *ngIf="!!email; else promptLogin"
  form
  [formGroup]="form"
  (ngSubmit)="submitForm()"
>
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput formControlName="query" />
  </mat-form-field>

  <button mat-raised-button [disabled]="form.invalid">Search</button>
</form>

<h3 *ngIf="!!searchResults">Search Results:</h3>
<mat-list>
  <mat-card *ngFor="let result of searchResults">
    <img [src]="result" alt="" />
    <button mat-flat-button color="primary" (click)="saveImage(result)">
      Save
    </button>
  </mat-card>
</mat-list>

<ng-template #promptLogin>
  <h2>Enter your email in My Images tab first!</h2>
</ng-template>
