.button-row {
    display: flex;
    gap: 1.5rem;
}

.reaction-btn {
    background-color: whitesmoke;
    height: 128px;
    width: 128px;
    font-size: 3.5rem;
    border-radius: 12px;
    cursor: pointer;
    border: 0px;
}

.reaction-btn:hover {
    background-color: skyblue;
    border: 1px solid darkslategrey;
}

.is-clicked {
    background-color: #3f51b5 ;
}