<h3>Assistant: {{ assistant.name }}</h3>
<!-- TODO: show bigger image when selected -->
<div *ngIf="!!imageOptions" class="image-options">
  <img
    *ngFor="let image of imageOptions"
    [ngClass]="{
      'apply-hover': !isImageConfirmed,
      'can-select': !isImageConfirmed,
      'is-selected': imageSelected === image
    }"
    [src]="image.imageUrl"
    (click)="selectImage(image)"
  />
  <button
    mat-raised-button
    [disabled]="!imageSelected || isImageConfirmed"
    (click)="notifyImageSelected()"
    color="primary"
  >
    Confirm
  </button>
</div>
