<div class="speaker-main">
  <div class="speaker-slide">
    <div class="speaker-header" *ngIf="currSlideIdx > 1">
      <h2>Topic: {{ game.deckMaterials.topic.topicText }}</h2>
      <h2>Score: {{ totalScore }}</h2>
    </div>

    <app-game-slide [slideTemplate]="currTemplate"></app-game-slide>

    <div class="speaker-footer">
      <div class="timer">
        <p>Slide: {{ currSlideIdx + 1 }} / {{ numSlides }}</p>

        <p>
          Next slide in...
          {{ game.timePerSlide - timeElapsed | number : "1.0-0" }}
        </p>
      </div>

      <mat-progress-spinner
        color="primary"
        mode="determinate"
        [value]="(timeElapsed / game.timePerSlide) * 100"
      >
      </mat-progress-spinner>
    </div>
  </div>

  <div class="reaction-list">
    <!-- TODO: Only show n most recent reaction -->
    <p *ngFor="let reaction of reactions.slice(5)">
      {{ reaction.judgeName }} : {{ reaction.text }}
    </p>
  </div>
</div>
<!-- projectable templates -->

<ng-template #topicTemplate>
  <h2>{{ currSlide.getContent() }}</h2>
</ng-template>
<ng-template #promptTemplate>
  <h3>{{ currSlide.getContent() }}</h3>
</ng-template>
<ng-template #imageTemplate>
  <img style="max-width: 480px" [src]="currSlide.getContent()" />
</ng-template>
<!-- TODO: Add intro and end slides -->
