<mat-progress-spinner
  color="primary"
  mode="determinate"
  [value]="(timeElapsed / game.timePerSlide) * 100"
>
</mat-progress-spinner>
<p>Time left: {{ game.timePerSlide - timeElapsed | number : "1.0-0" }}</p>
<p>Slide: {{ currSlideIdx + 1 }} / {{ numSlides }}</p>

<app-game-slide [slideTemplate]="currTemplate"></app-game-slide>

<!-- projectable templates -->

<ng-template #topicTemplate>
  <h2>{{ currSlide.getContent() }}</h2>
</ng-template>
<ng-template #promptTemplate>
  <h3>{{ currSlide.getContent() }}</h3>
</ng-template>
<ng-template #imageTemplate>
  <img style="max-width: 480px" [src]="currSlide.getContent()" />
</ng-template>

<div class="reaction-list">
  <p *ngFor="let reaction of reactions">{{ reaction }}</p>
</div>
