<form [formGroup]="form" class="form" (ngSubmit)="submitForm()">
  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" />
  </mat-form-field>

  <button mat-raised-button [disabled]="form.invalid">Get My Images</button>
</form>
<h3 *ngIf="!!email">{{ email }}'s Images</h3>

<mat-list>
  <mat-card *ngFor="let image of images">
    <img [src]="image.imageUrl" />
    <button mat-flat-button color="warn" (click)="deleteImage(image.imageId)">
      Delete
    </button>
  </mat-card>
</mat-list>
