<h2>Game: {{ gameId }} Lobby</h2>
<h2>Player Name: {{ currentPlayer.name }}</h2>
<h2>Player Role: {{ currentPlayer.role }}</h2>

<h2 *ngIf="!!hostPlayer">Host: {{ hostPlayer.name }}</h2>

<div *ngIf="!!lobby" class="player-list">
  <ol>
    <li *ngFor="let player of lobby.players">
      {{ player.name }} <span *ngIf="player.host">HOST </span>
      <span>{{ player.role }}</span>
    </li>
  </ol>
</div>

<button
  *ngIf="currentPlayer.host"
  [disabled]="!isGameReadyToStart()"
  mat-raised-button
  color="primary"
  (click)="startGame()"
>
  Start Game
</button>
